<!DOCTYPE html>
<html lang="en">
    <%- include('element/head.ejs')%>
<body>
    <header>
        <h1>About Me</h1>
        <%- include('element/nav.ejs')%>
    </header>
    <section>
        <h2>About Page</h2>
        <p>This is where you can learn more about me and my skills.</p>
    </section>
    <%- include('element/footer.ejs')%>
</body>
</html>
