<!DOCTYPE html>
<html lang="en">
    <%- include('element/head.ejs')%>
<body>
    <header>
        <h1>Contact Me</h1>
        <%- include('element/nav.ejs')%>
    </header>
    <section>
        <h2>Contact Page</h2>
        <p>Feel free to reach out to me using the information provided below.</p>
    </section>
    <%- include('element/footer.ejs')%>
</body>
</html>
