<!DOCTYPE html>
<html lang="en">
<%- include('element/head.ejs')%>
<body>
    <header>
        <h1>Welcome to My Portfolio</h1>
        <%- include('element/nav.ejs')%>
    </header>
    <section>
        <h2>Home Page</h2>
        <p>Welcome to my portfolio website. Feel free to explore!</p>
    </section>
    <%- include('element/footer.ejs')%>
</body>
</html>
